body {
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 3vw;
}

h1 {
    margin: 3vw auto;

}

img {
    max-width: 90%;
}
.mem {
    display: inline-block;
    margin: 0;
    text-align: left;
    width: 80%;
}

section {
    max-width: 95%;
    margin: 0 auto;
}

.bayan {
    margin: 20px auto;
}

.bayan-input {
    appearance: none;
    height: 0;
    width: 0;

}

.bayan-title {
    display: block;
    cursor: pointer;
    color: #f5f6f7;
 
    padding: 1em;
}


.bayan-item {
    margin: 0;
    border-top: 0.05em solid rgb(255, 255, 255);
}

.bayan-img {
    opacity: 0;
    visibility: hidden;
    transition: 0.55s opacity, 0.55s visibility;
}

.bayan-input:checked~.bayan-img {
    opacity: 1;
    visibility: visible;
}

p {
    font-family: Tahoma;
    font-size: 3vw;
    margin: 10px auto;
}

.img-mem {
    text-align: center;
}
.bayan label:before {
  content: '+';
  transition: .3s;
  float: right;
}
.bayan input:checked+label:before {
  transform: rotate(45deg);
  
}
